/* Colores en CSS con HSL
Color names
*/

body{
  font-size: 100%;
}

h1{
/*  background-color: hsl(18, 100%, 50%);
    background-color: #2175FF;
    border: inset rgba(0,0,0,0.7) 5px; none, inset, hidden, dotted, dash, solid, double
    border-top-style: dashed;
    border-bottom-color: red;
*/
    text-shadow: 2px 2px 2px black ;/*La posición horizontal (negativos y positivos), posY, blur, color */
    background-color: hsla(18, 100%, 50%,.5);
    border:double #eee 10px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Mina', sans-serif;
    font-style: italic;
    font-size: 1em; /* 40px / 16 = 2.5 o 50%*/
    color: white;
}

.cat{
  position: relative;;; /*fixed, absolute*/
  border-radius: 10px;
  margin: 10px;
}

.gopher{
  border: double 2px red;
  border-radius: 50%;
}

.title{
  width: 100px;
  margin: auto;
}
.thumb{
  margin: 10px;
  border: 5px solid #ddd;
  width: 150px;
}

.thumb:hover{
  box-shadow: 0 2px 1px rgba(0, 140, 186, .8);
  width: 200px;
}
.container{
  position: relative;
  border: 1px solid red;
  height: 100px;
  padding: 10px 5px 10px 5px;
}
/*
a{
  text-decoration: none;
  text-transform: capitalize;
}
p{
  text-align: center;


  word-spacing: 30cm; -12px
  white-space: pre-wrap; Utilizar pre-line
}
*/
